nav {
  background-color: white;
  box-shadow: 1px 0px 15px -3px #404040;
}

a {
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

a:hover {
  color: #2F135F !important;
}

a:active {
  color: #2F135F !important;
}
